* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #505562;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.container {
    width: 500px;
    margin: 20px auto;
    height: 100vh;
    position: relative;
    user-select: none;
}

header {
    background-color: #2d2d37;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

.date {
    background-color: #222;
    font-size: 0.74rem;
    padding: 0.5rem;
    text-align: right;
}

/* Currency container */
ul.currencies {
    height: calc(100vh - 10rem - 40px);
    background-color: #222;
    padding: 0 1.5rem 1rem 1.5rem;
    overflow-y: auto;
}

ul.currencies li {
    background-color: #505562; 
    border-radius: 5px;
    list-style: none;
    padding: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
}

ul li.base-currency {
    background-color: #00b386;
}

.flag {
    height: 40px;
    width: 60px;
    border: 1.5px solid white;
    vertical-align: top;
}

.info {
    display: inline-block;
    width: 78%;
}

.info .input span {
    display: inline-block;
    font-size: 1.5rem;
    width: 3rem;
    text-align: center;
}

.info .currency-name {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3rem;
    margin-bottom: 0.25rem;
}

.info .base-currency-rate {
    font-size: 0.8rem;
    margin-left: 3rem;
    font-style: italic;
    font-family: 'Montserrat Alternates', sans-serif;
}

.info .input input {
    font-size: 1.4rem;
    width: 75%;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 0.25rem;
    margin-bottom: 0.75rem
}

ul.currencies li .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.55rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}

ul.currencies li .close:hover {
    color: #fff;
}

/* Scroll bar */
ul.currencies::-webkit-scrollbar {
    width: 5px;
}

ul.currencies::-webkit-scrollbar-thumb {
    background-color: #07503e;
}


/* add currency list */

ul.add-currency-list {
    position: absolute;
    bottom: 57px;
    left: 105%;
    background-color: #f1f1f1;
    color: #222;
    width: 100%;
    height: calc(100vh - 12.5rem);
    /* height: 0; */
    overflow-y: auto;
    display: none;
    transition: all 0.7s
}

ul.add-currency-list li {
    list-style: none;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

ul.add-currency-list li:hover {
    background-color: #222;
    color: #f1f1f1;
}

/* disable when currency already exist */
ul.add-currency-list li.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

ul.add-currency-list li .flag {
    width: 3rem;
    height: 2rem;
    vertical-align: middle;
}

ul.add-currency-list li span {
    margin-left: 3rem;
    font-weight: bold;
}

.add-currency-button {
    background-color: #00b386;
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.add-currency-button i {
    position: absolute;
    top: 11px;
    left: 30%;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.25s;
}

/* .add-currency-button:hover {
    background-color: rgb(218, 44, 44)
} */

.add-currency-button.open {
    background-color: rgb(218, 44, 44);
}

.add-currency-button.open i {
    opacity: 1;
    left: 1.25rem;
}

ul.add-currency-list.open {
    display: block;
    left: 0;
}

.add

.add-currency-button:hover + ul.add-currency-list {
    height: calc(100vh - 200px);
}


/* MEDIA QUERIES FOR RESPONSIVESNESS */
@media (max-width: 600px) {
    html { font-size: 14px; }
    .container { width: 100%; margin: 0 auto; }
    ul.currencies { height: calc(100vh - 83px - 34px - 51px); }
    .header h1 { font-size: 2rem; }
    .flag { width: 3rem; height: 2rem; }
    .info .input span { font-size: 1.25rem; width: 3.5rem; }
    .info .input input { font-size: 1.25rem; width: 76%;}
    .info .currency-name { margin-left: 3.5rem; }
    .info .base-currency-rate { margin-left: 3.5rem; }
    ul.add-currency-list { bottom: 6px; height: calc(100vh - 80px - 51px); }
    .add-currency-btn i { left: 25%; top:0.65rem; }
}

@media (max-width: 361px) {
    ul.add-currency-list { bottom: -5px; height: calc(100vh - 80px - 81px); }
      
}